@charset "UTF-8";
body {
  font-family: Quicksand,"Noto Sans JP";
}

label {
  width: 44px;
  height: 41px;
  padding: 12px 8px 8px;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 500;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: content-show 0.6s ease 0.6s forwards;
          animation: content-show 0.6s ease 0.6s forwards;
}

@-webkit-keyframes content-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

label .bars {
  position: relative;
}

label .bars span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0d0015;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

label .bars .bar1 {
  top: 0;
}

label .bars .bar2 {
  top: 7px;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

label .bars .bar3 {
  top: 14px;
}

.close-menu .bar1 {
  top: 7px !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-menu .bar3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px !important;
}

.close-menu .bar2 {
  -webkit-transform: translateX(-28px) !important;
          transform: translateX(-28px) !important;
  opacity: 0 !important;
  visibility: hidden;
}

.menu-box {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Quicksand", "Noto Sans JP";
}

.menu-box .h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 25.6px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  position: relative;
  top: -1px;
}

.menu-box nav {
  margin-top: 30px;
  height: 100%;
}

.menu-box nav ul {
  width: 100%;
  padding: 0 7%;
  margin: 0;
  height: 60%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.menu-box nav ul li a {
  padding: 8px 8px 8px 28px;
  letter-spacing: 1px;
  position: relative;
  font-weight: 400;
  display: block;
  color: #0d0015;
  line-height: 20px;
}

.menu-box nav ul li a:hover {
  text-decoration: none;
}

.menu-box nav ul li a::before {
  content: "•";
  position: absolute;
  left: 13px;
  font-size: 26px;
  top: 8px;
  color: #9acc1d;
}

.menu-show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide-wrapper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 767px) {
  .slide-wrapper {
    -webkit-transition: 0s;
    transition: 0s;
  }
}

.slide-wrapper .header1 {
  padding-top: 10px;
}

@media (min-width: 767px) {
  .slide-wrapper .header1 {
    padding: 0;
  }
}

.slide-wrapper .header1 .site-info {
  margin-bottom: 12px;
  text-align: center;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  opacity: 0;
}

@media (min-width: 480px) {
  .slide-wrapper .header1 .site-info {
    padding: 50px 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 767px) {
  .slide-wrapper .header1 .site-info {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    margin: 0;
    line-height: 20px;
  }
}

.slide-wrapper .header1 .site-info a {
  display: block;
  color: #0d0015;
  font-size: 19.2px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  top: -1px;
}

@media (min-width: 767px) {
  .slide-wrapper .header1 .site-info a {
    font-size: 16.32px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
  }
}

.slide-wrapper .header1 .site-info a span {
  color: #9acc1d;
}

.slide-wrapper .header1 .site-info a:hover {
  text-decoration: none;
}

.slide-wrapper .header2 {
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

@media (min-width: 767px) {
  .slide-wrapper .header2 {
    max-width: 1200px;
    padding-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
  }
}

.slide-wrapper .header2 .site-info2 {
  max-width: 75%;
  margin: auto;
  font-size: 38.4px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  opacity: 0;
}

@media (min-width: 375px) {
  .slide-wrapper .header2 .site-info2 {
    width: 75%;
  }
}

@media (min-width: 411px) {
  .slide-wrapper .header2 .site-info2 {
    white-space: nowrap;
  }
}

@media (min-width: 767px) {
  .slide-wrapper .header2 .site-info2 {
    max-width: none;
    width: 100%;
    margin: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    font-size: 32.64px;
    opacity: 0;
  }
}

.slide-wrapper .header2 .site-info2 a {
  color: #0d0015;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  display: block;
  line-height: 48px;
  top: -2px;
}

@media (min-width: 480px) {
  .slide-wrapper .header2 .site-info2 a {
    padding: 50px 0;
  }
}

@media (min-width: 767px) {
  .slide-wrapper .header2 .site-info2 a {
    letter-spacing: 3px;
    display: block;
    line-height: 41px;
    padding: 50px 0;
    top: -2px;
  }
}

.slide-wrapper .header2 .site-info2 a span {
  color: #9acc1d;
}

.slide-wrapper .header2 .site-info2 a:hover {
  text-decoration: none;
}

.slide-wrapper .nav-menu2 {
  padding-top: 1px;
  display: none;
}

@media (min-width: 767px) {
  .slide-wrapper .nav-menu2 {
    display: block;
  }
}

.slide-wrapper .nav-menu2 .fixed-content {
  opacity: 0;
  -webkit-animation: content-show 0.6s ease 0.6s forwards;
          animation: content-show 0.6s ease 0.6s forwards;
}

@keyframes content-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-wrapper .nav-menu2 .fixed-content ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: table;
}

.slide-wrapper .nav-menu2 .fixed-content ul li {
  display: inline-block !important;
  margin: 0;
}

.slide-wrapper .nav-menu2 .fixed-content ul li a {
  padding: 12px 25px;
  text-align: center;
  display: block;
  color: #0d0015;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 1px;
  position: relative;
  line-height: 20px;
}

.slide-wrapper .nav-menu2 .fixed-content ul li a::after {
  content: "";
  width: 80%;
  height: 2px;
  border-radius: 1px;
  margin: auto;
  position: absolute;
  background-color: #0d0015;
  bottom: 6px;
  right: 0;
  left: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.slide-wrapper .nav-menu2 .fixed-content ul li a:hover {
  text-decoration: none;
}

.slide-wrapper .nav-menu2 .fixed-content ul li a:hover::after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.slide-wrapper .nav-menu2 .fixed-content ul li #review {
  padding-left: 28px;
}

.slide-wrapper .nav-menu2 .fixed-content ul li #contact {
  padding-left: 28px;
}

.slide-wrapper .contents {
  margin: 0px 15px;
  padding-top: 10px;
  opacity: 0;
  -webkit-animation: content-show 0.6s ease 0.6s forwards;
          animation: content-show 0.6s ease 0.6s forwards;
}

@keyframes content-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 767px) {
  .slide-wrapper .contents {
    margin: 21px 0px 10px 0;
    padding: 10px 0 0 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-animation: content-slide-show 0.8s ease 1s forwards;
            animation: content-slide-show 0.8s ease 1s forwards;
  }
  @-webkit-keyframes content-slide-show {
    0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes content-slide-show {
    0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
}

@media (min-width: 1200px) {
  .slide-wrapper .contents {
    width: 1200px;
    margin: 21px auto 10px;
  }
}

.slide-wrapper .contents .main-contents {
  padding-bottom: 14px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents {
    padding: 0;
    margin: 0;
    width: calc(66.66667% - 16.66667px);
    float: left;
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .main-contents {
    width: calc(67.5% - 50.25px);
    margin-left: 30px;
  }
}

.slide-wrapper .contents .main-contents .main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-wrapper .contents .main-contents .main-article article {
  margin-bottom: 15px;
  position: relative;
  font-family: "Noto Sans JP" !important;
  width: 48.4%;
}

.slide-wrapper .contents .main-contents .main-article article:not(:nth-child(2n)) {
  margin-right: 3%;
}

.slide-wrapper .contents .main-contents .main-article article a {
  display: block;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  text-decoration: none;
  color: #0d0015;
  border-radius: 2px;
  height: 100%;
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article a {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    margin-bottom: 20px;
  }
}

.slide-wrapper .contents .main-contents .main-article article a:hover {
  -webkit-box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.08) !important;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article {
    width: 48.5%;
    margin-bottom: 20px;
  }
  .slide-wrapper .contents .main-contents .main-article article:not(:nth-child(2n)) {
    margin-right: 2.6%;
  }
}

.slide-wrapper .contents .main-contents .main-article article img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.slide-wrapper .contents .main-contents .main-article article .article-body {
  padding: 8px 11px 20px 11px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body {
    padding: 10px 17px 25px 17px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body {
    padding-top: 15px;
  }
}

.slide-wrapper .contents .main-contents .main-article article .article-body .tag {
  font-size: 10px;
  padding: 2px 8px  3px 8px;
  background-color: #9acc1e;
  white-space: nowrap;
  color: #fff;
  font-weight: 500;
  line-height: 15px;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 20px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
    padding: 3px 10px;
    top: 11px;
    left: 11px;
    margin-left: -1px;
    letter-spacing: 0;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
    font-size: 10.4px;
    padding: 5px 12px;
  }
}

.slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1rem;
  position: relative;
  top: -1px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    line-height: 20px;
    top: 0px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
    font-size: 18px;
    line-height: 25px;
  }
}

.slide-wrapper .contents .main-contents .main-article article .time {
  font-family: Quicksand,"Noto Sans JP",sans-serif;
  width: 90%;
  text-align: right;
  font-size: 10.4px;
  color: #888888;
  letter-spacing: 1px;
  padding: 7px 0;
  position: absolute;
  bottom: 0;
  left: 5%;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .main-article article .time {
    font-size: 0.75rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.slide-wrapper .contents .main-contents .pager-top {
  display: block !important;
}

.slide-wrapper .contents .main-contents .pager-top ul {
  margin: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .pager-top ul {
    margin: 30px 0;
  }
}

.slide-wrapper .contents .main-contents .pager-top ul li {
  font-family: Quicksand;
  margin: 0 4px;
}

.slide-wrapper .contents .main-contents .pager-top ul li a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  min-width: 34px;
  min-height: 34px;
  padding: 4px 3px 4px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.85rem;
  line-height: 0;
  font-weight: 400;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .pager-top ul li a {
    min-width: 38px;
    min-height: 37px;
    padding-top: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  }
}

.slide-wrapper .contents .main-contents .pager-top ul li a span {
  position: relative;
  top: -1.5px;
  right: 0.5px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .pager-top ul li a span {
    top: -1px;
  }
}

.slide-wrapper .contents .main-contents .pager-top ul li .inactive {
  background-color: #fff;
  color: #888888;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .pager-top ul li .inactive {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  }
}

.slide-wrapper .contents .main-contents .pager-top ul li .inactive:hover {
  background-color: #0d0015;
  opacity: 0.5;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #fff;
}

.slide-wrapper .contents .main-contents .pager-top ul li .current {
  background-color: #0d0015;
  color: #ffffff;
  border: solid 1px #0d0015;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .main-contents .pager-top ul li .current {
    border: none;
  }
}

.slide-wrapper .contents .main-contents .pager-top ul li .current:hover {
  background-color: #0d0015;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar {
    margin: 0;
    margin-left: 20px;
    width: calc(33.33333% - 26.66667px);
    float: left;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar {
    margin-left: 30px;
    width: calc(32.5% - 39.75px);
    max-width: 350.25px;
  }
}

.slide-wrapper .contents .sidebar .area-border {
  width: 80px;
  height: 2px;
  margin: 30px auto 40px;
  background-color: #2b2b2b;
  opacity: 0.3;
  border-radius: 1px;
  position: relative;
  top: 1px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .area-border {
    display: none;
  }
}

.slide-wrapper .contents .sidebar .area-border:before {
  content: "・・・";
  color: #2b2b2b;
  position: absolute;
  right: 90px;
  top: -16px;
  font-size: 21px;
  letter-spacing: -6px;
}

.slide-wrapper .contents .sidebar .area-border:after {
  content: "・・・";
  color: #2b2b2b;
  position: absolute;
  left: 85px;
  top: -16px;
  font-size: 21px;
  letter-spacing: -6px;
}

.slide-wrapper .contents .sidebar .widget-text {
  padding: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  font-family: "Noto Sans JP" !important;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text {
    padding: 0;
    padding-bottom: 20px;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  padding-bottom: 20px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text .textwidget {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget .download-title {
  font-size: 19.2px;
  padding: 10px;
  text-align: center;
  background-color: #0d0015;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 0.9px;
}

.slide-wrapper .contents .sidebar .widget-text .textwidget p {
  color: #0d0015;
  letter-spacing: 1px;
  font-size: 15.2px;
  margin-bottom: 15.2px;
  padding: 20px 20px 0;
  line-height: 23px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text .textwidget p {
    font-size: 13.6px;
    font-weight: 300;
    line-height: 20px;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget p img {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text .textwidget p img {
    margin-bottom: 0;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget .download-link {
  text-align: center;
}

.slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn {
  padding: 10px;
  width: 80%;
  margin-top: 4.8px;
  font-size: 13.6px;
  text-align: center;
  color: #fff;
  background-color: #e22255;
  letter-spacing: 1px;
  border: double 3px #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn {
    margin-top: 5px;
    font-weight: 300;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span .svg-inline--fa {
  font-size: 13.8px;
  position: relative;
  top: 0px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span .svg-inline--fa {
    top: 0;
  }
}

.slide-wrapper .contents .sidebar .widget-text .textwidget .download-link:hover {
  opacity: 0.75;
}

.slide-wrapper .contents .sidebar .widget-profile {
  font-family: "Noto Sans JP";
  border-radius: 2px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  position: relative;
  overflow: hidden;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile {
    padding: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar .widget-profile {
    padding: 30px;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body {
  padding: 20px 20px 105px 20px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body {
    padding: 0 5px 85px 5px;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .my-profile-thumb {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .my-profile-thumb a {
  display: block;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .my-profile-thumb a img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  height: auto;
  border-radius: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .my-profile-thumb a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myname {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 153px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myname {
    top: 158px;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myjob {
  text-align: center;
  font-size: 10.4px;
  color: rgba(0, 0, 0, 0.35);
  letter-spacing: 1.1px;
  width: 100%;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  font-weight: 300;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myjob {
    top: 185px;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro {
  margin-top: 70px;
  font-size: 13.6px;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro {
    margin-top: 75px;
    font-weight: 300;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro .proflink {
  text-align: center;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro .proflink .btn {
  font-size: 10.4px;
  width: 50%;
  background-color: #aaaaaa;
  color: #ffffff;
  padding: 7px 10px;
  margin: 20px auto 10px auto;
  border: double 3px #fff;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro .proflink .btn {
    margin-bottom: 0;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu {
  width: 100%;
  padding: 15px 0;
  background-color: #9acc1e;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu .sns-menu-title {
  height: 22px;
  font-size: 13.6px;
  text-align: center;
  color: #fff;
  font-family: "Quicksand","Noto Sans JP";
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li {
  margin: 0;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a {
  display: block;
  padding: 8px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.18);
  color: #ffffff;
  margin: 0 4px;
  width: 34px;
  height: 32px;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .svg-inline--fa {
  vertical-align: 10px;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .fa-facebook-square {
  font-size: 19.5px;
  position: relative;
  top: -2px;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .fa-instagram {
  font-size: 19px;
  position: relative;
  top: -1.5px;
  right: 2.5px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .fa-instagram {
    right: 0;
  }
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .line {
  position: relative;
  top: -7px;
}

.slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .fa-twitter {
  position: relative;
  top: -1px;
  font-size: 17px;
}

.slide-wrapper .contents .sidebar .widget-item {
  padding: 15px;
  padding-top: 13px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  font-family: Quicksand,"Noto Sans JP";
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item {
    padding-top: 14px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar .widget-item {
    padding: 30px;
    padding-top: 28px;
  }
}

.slide-wrapper .contents .sidebar .widget-item .widget-title {
  color: #0d0015;
  font-size: 17.6px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: solid 2px #0d0015;
  line-height: 24px;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item .widget-title {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar .widget-item .widget-title {
    font-size: 17.6px;
    line-height: 24.5px;
  }
}

.slide-wrapper .contents .sidebar .widget-item ul {
  font-family: "Noto Sans JP";
  list-style: none;
  padding: 0;
  display: block;
}

.slide-wrapper .contents .sidebar .widget-item ul li a {
  overflow: hidden;
  display: block;
  padding: 10px 0;
  border: 0px;
  background-color: #fff;
}

.slide-wrapper .contents .sidebar .widget-item ul li a:hover .new-entry-item h3 {
  color: #e22255;
}

.slide-wrapper .contents .sidebar .widget-item ul li a .post-image {
  width: calc( 37.5%);
  float: left;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item ul li a .post-image {
    width: calc(33.33333%);
  }
}

.slide-wrapper .contents .sidebar .widget-item ul li a .post-image img {
  width: 100%;
}

.slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item {
  float: right;
  width: 58.33333333333%;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item {
    width: calc(62.5%);
  }
}

.slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item h3 {
  letter-spacing: 1px;
  font-size: 13.6px;
  margin-bottom: 0;
  margin-top: 3px;
  color: #0d0015;
  line-height: 18px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item h3 {
    margin-top: 0;
    line-height: 1.15rem;
  }
}

.slide-wrapper .contents .sidebar .widget-item #category-select {
  position: relative;
}

.slide-wrapper .contents .sidebar .widget-item #category-select::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f078";
}

.slide-wrapper .contents .sidebar .widget-item #category-select svg {
  position: absolute;
  font-size: 20px;
  top: calc(50% - 9px);
  right: 10px;
}

.slide-wrapper .contents .sidebar .widget-item #category-select select {
  outline: none;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  background-color: rgba(192, 192, 192, 0.15);
  border: 0;
  color: #888888;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 17px;
  font-weight: 400;
  vertical-align: top;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item #category-select select {
    font-size: 14px;
  }
}

.slide-wrapper .contents .sidebar .widget-item .tagcloud {
  position: relative;
  top: -1.5px;
}

.slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
  display: inline-table;
  font-size: 10.4px;
  color: #0d0015;
  margin: 0 1px 3px 0;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  font-family: "Noto Sans JP";
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1rem;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
    line-height: 15px;
    font-weight: 300;
  }
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
    margin-right: 1px;
  }
}

.slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0d0015;
}

.slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink .fa-tag {
  font-size: 13px;
  padding-right: 3px;
  vertical-align: top;
}

@media (min-width: 1024px) {
  .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink .fa-tag {
    padding-right: 3px;
  }
}

.slide-wrapper .contents .sidebar .widget-item form {
  position: relative;
}

.slide-wrapper .contents .sidebar .widget-item form #searchtext {
  outline: none;
  width: 100%;
  height: 34px;
  padding: 0 40px 0 10px;
  border-radius: 2px;
  border: solid 1px #dddddd;
  border-radius: 25px;
  font-weight: 500;
  font-family: "Noto Sans JP";
}

.slide-wrapper .contents .sidebar .widget-item form #searchtext:focus {
  border-color: #3894c8;
}

.slide-wrapper .contents .sidebar .widget-item form #searchsubmit {
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 3px;
  z-index: 1;
  color: #acaaaa;
  border: none;
  background-color: transparent;
}

@media (min-width: 767px) {
  .slide-wrapper .contents .sidebar .widget-item form #searchsubmit {
    right: 3px;
    font-weight: 300;
    font-size: 16px;
  }
}

footer {
  padding: 15px 0;
  background-color: #393542;
  color: #fff;
}

footer .footer-widget-area {
  margin-bottom: 15px;
  border-bottom: solid 1px #ffffff;
}

footer .footer-widget-area .footer-widget {
  padding: 25px 15px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  footer .footer-widget-area .footer-widget {
    width: 1200px;
    margin: 0 auto;
    padding: 25px 30px 0;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text {
  font-family: "Noto Sans JP";
  margin-bottom: 45px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text {
    margin-bottom: 46px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 {
  margin-top: 15.2px;
  font-size: 15.2px;
  padding: 0px;
  margin-bottom: 15.2px;
  line-height: 1.55rem;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 {
    font-size: 13.6px;
    margin: 13.6px 0;
    font-weight: 300;
    margin-bottom: 0;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 img {
  width: 120px;
  height: 59.2px;
  margin: 0 auto;
  padding-top: 1px;
  margin-bottom: 19px;
  display: block;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 img {
    margin-bottom: 0px;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .after-text {
    margin-top: 12.6px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link {
  margin: 31px 0 14.19px 0;
  text-align: center;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link {
    margin-top: 30px;
    margin-bottom: 13.6px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn {
  padding: 10px;
  width: 80%;
  font-size: 15.2px;
  color: #fff;
  background-color: #e22255;
  letter-spacing: 1px;
  line-height: 21px;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn .svg-inline--fa {
  font-size: 15px;
  vertical-align: -2px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn .svg-inline--fa {
    font-size: 14px;
    vertical-align: -3px;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn {
    font-size: 13.6px;
    padding: 10px 15px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 18px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn i {
  margin-right: 4px;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud {
  margin-bottom: 45px;
  font-family: Quicksand, "Noto Sans JP";
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title {
  color: #fff;
  font-size: 17.6px;
  margin-bottom: 15px;
  padding-bottom: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: solid 2px #9acd3a;
  line-height: 23px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title {
    font-size: 15.2px;
    padding: 0 5px 0 10px;
    border-bottom: 0;
    border-left: solid 3px #9acd3a;
    line-height: 1.15rem;
    font-size: 0.95rem;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title span {
    position: relative;
    top: -1px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud {
  margin-top: -1px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud {
    margin-top: -1px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink {
  display: inline-table;
  font-size: 10.4px;
  color: #fff;
  margin: 0 1px 3px 0;
  padding: 4px 8px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  font-family: "Noto Sans JP";
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 400;
  vertical-align: baseline;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink {
    font-weight: 300;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    line-height: 15px;
    letter-spacing: 0;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0d0015;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink .fa-tag {
  font-size: 13px;
  padding-right: 3px;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul {
  border-radius: 0;
  font-family: "Noto Sans JP";
  margin: 0;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li {
  border-bottom: solid 1px #fff;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li {
    border-bottom: none;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a {
  width: calc(100% - 3px);
  display: block;
  color: #fff;
  font-size: 13.6px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 12px 40px 12px 28px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  line-height: 25px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a {
    font-size: 11.2px;
    line-height: 16px;
    padding: 7px 0 7px 15px;
    font-weight: 400;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a:hover {
  text-decoration: none;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a::before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f138";
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a::before {
    content: "\f105";
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg {
  position: absolute;
  left: 7px;
  font-size: 15px;
  top: 15px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg {
    left: 1px;
    top: 8px;
    font-size: 18px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child {
  border-bottom: none;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child a {
  padding-bottom: 0px;
  line-height: 24px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child a {
    padding-bottom: 7px;
    line-height: 16px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a svg {
  top: 17px;
  font-size: 15px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a svg {
    left: 1px;
    top: 7px;
    font-size: 18px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date:last-child {
  border-bottom: none;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date:last-child a {
  padding-bottom: 11px;
  line-height: 25px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date:last-child a {
    padding-bottom: 7px;
    line-height: 16px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list {
  font-family: "Noto Sans JP";
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list {
    position: relative;
    top: 0.5px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li {
  border: none;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a {
  width: 100%;
  overflow: hidden;
  display: block;
  padding: 10px 0;
  border: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image {
  width: 37.5%;
  float: left;
  position: relative;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image {
    width: 33.3333%;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image span {
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: #9acc1e;
  padding-top: 10px;
  line-height: 0;
  position: absolute;
  top: 0px;
  z-index: 1;
  text-align: center;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image span {
    font-family: Quicksand,sans-serif;
    padding-top: 8px;
    font-size: 12px;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image img {
  width: 100%;
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item {
  width: 58.33333333333%;
  float: right;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item {
    font-weight: 400;
    width: 62.5%;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item h3 {
  letter-spacing: 1px;
  font-size: 13.6px;
  margin-bottom: 0;
  margin-top: 3px;
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item h3 {
    font-weight: 300;
    margin-top: 0;
  }
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li:last-child a {
  padding-bottom: 10px;
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(1) {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 1024px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) .widget-cloud {
    margin-left: 45px;
  }
}

@media (min-width: 1024px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) .widget-cloud {
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 767px) {
  footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 45px;
  }
}

footer .footer-copy {
  font-family: "Noto Sans JP";
  text-align: center;
  font-size: 10.4px;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  footer .footer-copy {
    font-size: 11.2px;
    line-height: 17px;
  }
}

.scroll-top {
  width: 42px;
  height: 42px;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  background-color: #393542;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  bottom: 24px;
  right: 20px;
  cursor: pointer;
}

@media (min-width: 767px) {
  .scroll-top {
    width: 45px;
    height: 45px;
    bottom: 22px;
    right: 22px;
  }
}

.scroll-top .fa-chevron-up {
  -webkit-transform: translate(0px, -8px);
          transform: translate(0px, -8px);
  font-size: 26px;
}

.info-slide {
  -webkit-animation: title-slide 0.6s 0s forwards;
          animation: title-slide 0.6s 0s forwards;
}

@-webkit-keyframes title-slide {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes title-slide {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 767px) {
  .info-slide {
    -webkit-animation: title-slide 0.6s  0.6s forwards;
            animation: title-slide 0.6s  0.6s forwards;
  }
  @-webkit-keyframes title-slide {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes title-slide {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
}

.sliding {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

@media (min-width: 767px) {
  .sliding {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */