@-moz-document url-prefix() {
    label {
        top: 5px;
    }
    .slide-wrapper .header1 .site-info a {
        display: block;
        color: #0d0015;
        font-size: 19.7px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 25px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
    .slide-wrapper .header1 .site-info {
        margin-bottom: 11.5px;
    }
    .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
        line-height: 13px;
        font-size: 0.5rem;
    }
    .slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
top: 0;
    }
    .contents .main-contents .main-article article .time{
        line-height: 16px;
       transform: translateY(1px);
    }
    .slide-wrapper .contents .main-contents .pager-top ul li a span{
        top: 1px;
    }
    .slide-wrapper .contents .sidebar .area-border::before, .slide-wrapper .contents .sidebar .area-border::after{
top: -12px;
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget .download-title {
            line-height: 30px;
           
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn {
        line-height: 0;
        height: 47px;
        padding-top: 14px;
    }
    .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro{
        line-height: 21px;
    }
    .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro .proflink .btn {
        line-height: 0;
        height: 37px;
        padding-top: 15px;
    }
    .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu .sns-menu-title {
        height: 21px;
       transform: translateY(2px);
    }
    .slide-wrapper .contents .sidebar .widget-item  {
        padding-top: 19px;
    }
    .slide-wrapper .contents .sidebar .widget-item .widget-title {
        line-height: 19px;
    }
    .contents .sidebar .widget-item ul li a .new-entry-item h3{
        line-height: 20px;
    }
    .slide-wrapper .contents .sidebar .widget-item #category-select select{
        line-height: 20px;
    }
    .slide-wrapper .contents .sidebar .widget-item .tagcloud {
        top: 0;
    }
    .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
        margin: 0 1px 6px 0;
        line-height: 17px;
    }
    .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink .fa-tag{
       vertical-align: baseline;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-text{
       
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud {
       margin-bottom: 47px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title {
        padding-bottom: 11px;
        line-height: 23px;
        margin-bottom: 15px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud{
        margin-top: 0;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink{
        margin: 0 1px 6px 0;
        line-height: 17px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link{
        margin-top: 30px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a {
        line-height: 25.6px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg {
        left: 8px;
        font-size: 15px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child a {
        line-height: 25.6px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a{
        line-height: 26.6px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date:last-child a{
        line-height: 26.6px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a svg {
        top: 18px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item h3 {
        line-height: 18.2px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 img{
        height: 59.0167px;
    }
    footer .footer-copy {
        line-height: 17px;
    }
    .scroll-top .fa-chevron-up {
        font-size: 24px;
        transform: translateY(-3px);
    }
    @media(min-width: 767px){
        .slide-wrapper .header2 .site-info2 a {
            line-height: 42px;
            top: 4px;
        }
        .slide-wrapper .nav-menu2 {
            padding-top: 4px;
        }
        .slide-wrapper .nav-menu2 .fixed-content ul {
           width: 574.833px;
           display: flex;
           justify-content: space-between;
        }
        .slide-wrapper .nav-menu2 .fixed-content ul li{

            line-height: 22px;
        }
        
        .slide-wrapper .header1 .site-info a {
            font-size: 16.32px;
            font-weight: 400;
            letter-spacing: 3px;
            line-height: 20px;
        }
        .slide-wrapper .contents {
            margin-top: 18px;
        }
        .slide-wrapper .contents .main-contents .main-article article .article-body .tag{
            line-height: 14px;
            font-size: 0.55rem;
        }
        .slide-wrapper .contents .main-contents .main-article article .article-body .article-text{
            line-height: 20.8px;
        }
        .slide-wrapper .contents .main-contents .main-article article .time{
            line-height: 18px;
            transform: translateY(1px);
        }
        .slide-wrapper .contents .sidebar .widget-text .textwidget p {
            line-height:21.25px;
        }
        .slide-wrapper .contents .sidebar .widget-item .widget-title {
            line-height: 17px;
            
        }
        .slide-wrapper .contents .sidebar .widget-item {
            padding-top: 18px;
        }
        .slide-wrapper .contents .sidebar .widget-item ul{
            transform: translateY(-1px);
        }
        .slide-wrapper .contents .sidebar .widget-item #category-select select{
            line-height: 17px;
        }
        .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
margin-bottom: 5px;
    }
    .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink .fa-tag {
        vertical-align: bottom;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn {
        line-height: 19px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink {
        line-height: 14.1px;
        font-size: 0.55rem;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title {
        padding-bottom: 0;
        line-height: 18px;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title span {
        top: 2px;
        z-index: 1;
    }
    footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a {
        line-height: 16.8px;
  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child a {
    line-height: 16.8px;
  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg {
      font-size: 18px;
      top: 8px;
  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a svg {
      top: 6px;
  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a {
    line-height: 16.8px;

  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date:last-child a {
    line-height: 16.8px;

  }
  footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud {
    margin-bottom: 45px;
}
footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item h3 {
    line-height: 18.4px;
}
footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image span {
    padding-top: 10px;
}
}
@media(min-width:1024px){
    .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
      height: 27px;
      padding-top: 13px;
        line-height: 0;
        font-size: 0.65rem;
    }
    .slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
        line-height: 25.6px;
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget .download-title {
        line-height: 0px;
        height: 50px;
        padding-top: 24px;
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget p {
        line-height: 21px;
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span{
position: relative;
top: -1px;
    }
    .slide-wrapper .contents .sidebar .widget-item .widget-title {
        line-height: 20px;
    }
    .slide-wrapper .contents .sidebar .widget-item ul {
        transform: translateY(0px);
    }
    .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span .svg-inline--fa {
        top: 1px;
    }
    .slide-wrapper .contents .sidebar .widget-item {
        padding-top: 33px;
    }
}
}