@keyframes content-slide-show2{
    0% {
        transform: translateY(10px);

      opacity: 0
    }

    100% {
      opacity: 1;
        transform: translateY(0px);

    }
  }
  @keyframes content-show {
    0%{
      opacity:0
    }

    100%{
      opacity: 1;
    }
  }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .header1 .site-info a {
    font-weight: 700;
}
_::-webkit-full-page-media, _:future, :root .menu-box .h1{
    font-weight: 500;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .header2 .site-info2 a{
    font-weight: 700;
   }

_::-webkit-full-page-media, _:future, :root .menu-box nav ul li a{
    font-weight: 500;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
    line-height: 13px;
    font-size: 0.5rem;
}
_::-webkit-full-page-media, _:future, :root .menu-box nav ul li a::before {
    top: 11px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget p{
   line-height: 22px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .my-profile-thumb {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    position: relative;
    z-index: 1;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span .svg-inline--fa{
    font-size: 13px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro{
   line-height: 20px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .sns-menu ul li a .fa-instagram{
   right: 0;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item .widget-title{
  line-height: 25px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item #category-select select{
  line-height: 18px;
  font-family: "Noto Sans JP";
  font-size: 15px;
}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink{
 margin-bottom: 2px;
}
_::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn {
line-height: 20px;
}
_::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg{
 font-size: 15px;
 top: 17px;
 left: 8px;
}
_::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a{
    letter-spacing: 1px;
}

/* 480px以上*/

@media (min-width: 480px){
_::-webkit-full-page-media, _:future, :root .slide-wrapper .header1 .site-info{
        padding:  50px 0;
margin-bottom: 10px;
    }
}

/* 768px以上*/

@media (min-width: 767px){
_::-webkit-full-page-media, _:future, :root .slide-wrapper {
    -webkit-transition: 0s;
    transition: 0s;
    }

    /* ヘッダー */

_::-webkit-full-page-media, _:future, :root .slide-wrapper .header2 {
    max-width: 1200px;
    padding-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .header2 .site-info2 {
    max-width: none;
    width: 100%;
    margin: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    font-size: 32.64px;
    opacity: 0;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .header2 .site-info2 a {
    letter-spacing: 3px;
    display: block;
    line-height: 41px;
    padding: 50px 0;
    top: -2px;
        font-weight: 400 ;
       }

       /* グローバルページ */

_::-webkit-full-page-media, _:future, :root .slide-wrapper .nav-menu2{
           display: block !important;
       }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .nav-menu2 .fixed-content {
    opacity: 0;
    -webkit-animation: content-show 0.6s ease 0.8s forwards;
    animation: content-show 0.6s ease 0.8s forwards;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents {
    margin: 21px 0px 10px 0;
    padding: 10px 0 0 0;
    overflow: hidden;
    opacity: 0;
    
    transform: translateY(10px);
    
   
    animation: content-slide-show2 0.8s ease 1s forwards;
    }
    
    /* メインコンテンツ */

_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents {
    padding: 0;
    margin: 0;
    width: calc(66.66667% - 16.66667px);
    float: left;
    margin-left: 10px;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article {
    
    display: flex;
  
    flex-wrap: wrap;
  
    justify-content: space-between;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article {
    width: 48.5%;
    margin-bottom: 20px;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article .article-body .tag {
    padding: 3px 10px;
    top: 11px;
    left: 11px;
    margin-left: -1px;
    letter-spacing: 0;
    font-weight: 400;
    }
_::-webkit-full-page-media, _:future, :root slide-wrapper .contents .main-contents .main-article article:not(:nth-child(2n)) {
    margin-right: 2.6%;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article a {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    margin-bottom: 20px;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article .article-body {
    padding: 10px 17px 25px 17px;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article .article-body .article-text {
    font-size: 14px;
font-weight: 400;
letter-spacing: 1px;
margin-bottom: 5px;
line-height: 20px;
top: 0px;

}
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .main-article article .time {
    font-size: 0.75rem;
    padding-top: 10px;
    padding-bottom: 10px;
    }

    /* ページネーション */

_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .pager-top ul {
    margin: 30px 0;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .pager-top ul li a {
    min-width: 38px;
    min-height: 37px;
    padding-top: 5px;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .pager-top ul li .current {
    border: none;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .pager-top ul li a span {
    top: -1px;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents .pager-top ul li .inactive {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    }

    /* サイドバー */

_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar {
    margin: 0;
    margin-left: 20px;
    width: calc(33.33333% - 26.66667px);
    float: left;
    }
_::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .area-border {
    display: none;
    }
    _::-webkit-full-page-media, _:future, :root slide-wrapper .contents .sidebar .widget-text {
        padding: 0;
        padding-bottom: 20px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget {
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: none;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget p {
        font-size: 13.6px;
        font-weight: 300;
        line-height: 20px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget p img {
        margin-bottom: 0;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn {
        margin-top: 4px;
        font-weight: 300;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text .textwidget .download-link .btn span .svg-inline--fa {
        top: -1px;
        font-size: 13.8px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-text {
        padding: 0;
        padding-bottom: 20px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile {
        padding: 15px;
        margin-bottom: 20px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body {
        padding: 0 5px 85px 5px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro {
        margin-top: 75px;
        font-weight: 300;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myname {
        top: 158px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myjob {
        top: 185px;
        }
    _::-webkit-full-page-media, _:future, :root slide-wrapper .contents .sidebar .widget-profile .my-profile-body .myintro .proflink .btn {
        margin-bottom: 0;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item {
        padding-top: 14px;
        margin-bottom: 20px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item .widget-title {
        font-size: 16px;
        line-height: 21px;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item ul li a .post-image {
        width: calc(33.33333%);
        }
    _::-webkit-full-page-media, _:future, :root slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item {
        width: calc(62.5%);
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item ul li a .new-entry-item h3 {
        margin-top: 0;
        line-height: 1.15rem;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item #category-select select {
        font-size: 0.85rem;
        line-height: 16px;
        }
    _::-webkit-full-page-media, _:future, :root slide-wrapper .contents .sidebar .widget-item .tagcloud .tagcloudlink {
        line-height: 15px;
        font-weight: 300;
        }
    _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item form #searchsubmit {
        right: 3px;
        font-weight: 300;
        font-size: 16px;
        }

        /* フッター */

    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget {
        
        display: flex;
        padding-bottom: 0;
        width: 100%;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(1) {
        -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
        flex: 0.8;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text {
        margin-bottom: 46px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .text1 {
        font-size: 13.6px;
        margin: 13.6px 0;
        font-weight: 300;
        margin-bottom: 0;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .after-text {
        margin-top: 12.6px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link {
        margin-top: 30px;
        margin-bottom: 13.6px;
    }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-text .download-link .btn .svg-inline--fa {
        font-size: 14px;
        vertical-align: -3px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .widget-title {
        font-size: 15.2px;
        padding: 0 5px 0 10px;
        border-bottom: 0;
        border-left: solid 3px #9acd3a;
        line-height: 1.15rem;
        font-size: 0.95rem;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud {
        margin-top: -3px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .tagcloud .tagcloudlink {
        font-weight: 300;
        font-size: 0.55rem;
        background-color: rgba(255, 255, 255, 0.25);
        line-height: 15px;
        letter-spacing: 0;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) .widget-cloud {
        margin-left: 45px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li {
        border-bottom: none;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a {
        font-size: 11.2px;
        line-height: 16px;
        padding: 7px 0 7px 15px;
        font-weight: 400;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a svg {
        left: 1px;
        top: 8px;
        font-size: 18px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a {
       
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child {
        border-bottom: none;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li:last-child a {
        padding-bottom: 7px;
        line-height: 16px;
        }
        
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul .date a svg {
        left: 1px;
        top: 7px;
        font-size: 18px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud ul li a:before {
        display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f105";
        }
    
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(3) {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: 45px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list {
        position: relative;
        top: 0.5px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a {
        width: 100%;
        overflow: hidden;
        display: block;
        padding: 10px 0;
        border: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        text-decoration: none;
        }
    
    _::-webkit-full-page-media, _:future, :root footer footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a svg {
    display: none;
    }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image {
        width: 33.3333%;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .post-image span {
        font-family: Quicksand,sans-serif;
        padding-top: 8px;
        font-size: 12px;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item {
        font-weight: 400;
        width: 62.5%;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item .widget-cloud .post-list li a .new-entry-item h3 {
        font-weight: 300;
        margin-top: 0;
        }
    _::-webkit-full-page-media, _:future, :root footer .footer-copy {
        font-size: 11.2px;
        line-height: 17px;
        }
    _::-webkit-full-page-media, _:future, :root .scroll-top {
        width: 45px;
        height: 45px;
        }
    }
     
    /* 1024px */

    @media (min-width: 1024px){
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .main-contents {
            width: calc(67.5% - 50.25px);
            margin-left: 30px;
        }
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar {
            margin-left: 30px;
            width: calc(32.5% - 39.75px);
            max-width: 350.25px;
        }
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-profile {
            padding: 30px;
        }
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item {
            padding: 30px;
            padding-top: 29px;
        }
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents .sidebar .widget-item .widget-title {
            font-size: 17.6px;
            line-height: 24.5px;
        }
        _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) {
            
            display: flex;
        }
        _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget .footer-widget-item:nth-child(2) .widget-cloud {
            margin-bottom: 0;
            
            flex: 1;
        }
       

    }

    /* 1200px */

    @media (min-width: 1200px){
        _::-webkit-full-page-media, _:future, :root .slide-wrapper .contents {
            width: 1200px;
            margin: 21px auto 10px;
        }
       
       
       
       
        _::-webkit-full-page-media, _:future, :root footer .footer-widget-area .footer-widget {
            width: 1200px;
            margin: 0 auto;
            padding: 25px 30px 0;
        }
      
    }